html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: var(--font-style);
}

body {

    background: var(--color-primary-pink1);
    text-align: center !important;

}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brown-bear {
    background-image: url(../../assets/images/Untitled_Artwork\ 9.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-color-signin{
    background-color: var(--color-primary-pink2);
    padding: 3vw 4vw;
    border-radius: 20px;
}
.topic-title h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    color: var(--color-primary-pink6);
    -webkit-text-stroke: 3px white;
}

.form-signin {
    width: 100%;
    height: 100%;
    max-width: 330px;
    padding: 15px;
    align-content: center;
    margin: auto !important;

}

.form-signin input {
    border: 3px solid var(--color-primary-pink6);
    border-left: none;
}

.input-username span {
    background-color: transparent;
    border: none;
}

.input-username span,
.input-password span {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    text-align: center;
    white-space: nowrap;
    background-color: white;
    border: 3px solid var(--color-primary-pink6);
    border-right: none;
    border-radius: var(--bs-border-radius);
    width: 20%;

}

.form-control:focus {
    box-shadow: none;
    border: 3px solid var(--color-primary-pink6);
    border-left: none;
}

.input-username img,
.input-password img {
    width: 75% ;
}


.password-toggle-icon img {
    font-size: 18px;
    line-height: 1;
    color: #333;
    transition: color 0.3s ease-in-out;
    margin-bottom: 20px;
}

.topic-title {
    margin-bottom: 2vh;
}

.icon-eye {
    background-color: var(--color-primary-pink6);
    border: none;
}
.register,.register a{
    text-align: right;
    font-size: 16px;
    padding-top: 5px;
    color: var(--color-secondary-brown5);
}

.submit-btn {
    padding: 10px 30px;
    margin-top: 20px;
    background-color: var(--color-primary-pink6);
    border:5px solid var(--color-white);
    border-radius:15px ;
}

.icon-eye:focus,
.icon-eye::after,
.icon-eye:hover,
.icon-eye::before,
.icon-eye:active,
.icon-eye:focus {
    background-color: var(--color-primary-pink5) !important;
}

.submit-btn:focus,
.submit-btn::after,
.submit-btn:hover,
.submit-btn::before {
    /* background-color: rgb(248, 148, 165) !important; */
    background-color: var(--color-primary-pink3);
    border: 5px solid var(--color-white);
}
.warning-text{
    color: var(--color-warning-text);
    font-size: 18px;
    padding: 15px 0px 0px 10px;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1) brightness(50%) sepia(100%) saturate(10000%) hue-rotate(180deg)
}