body{
    text-align: center !important;
}
#root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.password-toggle-icon img{
    font-size: 18px;
    line-height: 1;
    color: #333;
    transition: color 0.3s ease-in-out;
    margin-bottom: 20px;
}
.topic-title{
    margin-bottom: 2vh;
}
.submit-btn{
    margin-top: 2vh;
    /* background-color: none !important; */
}